body{
    background-color:#2B2B2B;
}

#main_title{
    color:#CC7832;
    
    font-family:"Lucida Console", Monaco, monospace;
    font-size:30px;
    letter-spacing: .2em;
    
    text-align:center;
    margin-top:20px;
    padding:0px;  
}

#main_title h1 {
    margin:0;
}

#title_info h4 {
    margin:0;
}

#title_info {
    color:#459d51;
    font-family:"Lucida Console", Monaco, monospace;
    
    text-align:center;
}

hr {
    /* All those boxes n' stuff are a bit complicated for seperating*/
    border-color:#202020;
}

.container {
    margin:30px;
    width:75%;

    color:#A9B7C6;
    font-family:Arial, Helvetica, sans-serif;
    line-height:1.6;
    letter-spacing:.5px;
}

.container h5 {
    font-weight:400;
}
/* 
background = #2B2B2B
color palette: 
1. CC7832 (orangeish) # main color
2. 052B52 complementry -ish (dark blue)
3. 2B2B2B main color, background (drk grey)
4. A9B7C6 light color (ripping off pycharms text)

*/