* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #2B2B2B;
    font-family: Arial, Helvetica, sans-serif;
    color: #F0F0F0;
    text-align: center;
    margin: 7%;
}

h1 {
    font-size: clamp(150px, 15vw, 100px);
    margin: 10px;
}

h1>span:nth-child(1) {
    color: #EE7832;
}

h1>span:nth-child(2) {
    color: #6897BB;
}

h1>span:nth-child(3) {
    color: #9876AA;
}

p {
    line-height: 150%;
    margin-bottom: 1.1em;
}

code {
    padding: 2px 4px;
    color: #e7e8eb;
    background-color: #404345;
    border-radius: 3px;
}

code>a {
    color: rgb(60, 164, 255);
}

code>a:hover {
    color: #0095ff;
}