table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin: 100px auto;
    width: 75%;
}

td.link {
    width: 35%;
}

td.date {
    width: 20%;
}

td.name {
    width: 15%;
}

td.challenges {
    width: 30%;
}

thead {
    text-align: center;
    font-weight: bold;
}

thead td {
    padding-top: 10px;
}

td {
    padding: 6px 7px;
}