* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

canvas {
    border: 1px solid black;
    max-width: 350px;
}

#gui {
    font-family: "JetBrains Mono", "Courier New", Courier, monospace;
    display: flex;
    width: 100%;
    text-align: center;
}

%icon {
    flex: 1;

    &::before {
        color: transparent;
        text-shadow: 0 0 black;
        margin-right: 3px;
    }
}

#deaths::before {
    @extend %icon;
    content: "☠️";
}

#food::before {
    @extend %icon;
    content: "🍎";
}

.wrapper {
    text-align: center;
    min-width: 100px;
}
