body {
    background: #000;
    display: grid;
    min-height: 100vh;
    place-items: center;
}

#terminal {
    font-family: Monaco, "Lucida Console", monospace;
    width: 50%;
    height: 320px;
    border: 1px solid rgb(212, 210, 210);
    border-radius: 5px;
    color: white;
    padding: 10px;
    overflow-y: auto;
    font-size: calc(max(0.9vw, 12px));
    -ms-overflow-style: none;
    scrollbar-width: none;
    line-height: 150%;
}

.path {
    color: #00dc80;
}

.terminal-focus {
    font-weight: bold;
    color: #00ade1;
}

input {
    border: none;
    background: black;
    outline: none;
    font-size: inherit;
    padding: 0;
    color: white;
    font-family: Monaco, "Lucida Console", monospace;
    width: 100%;
}

#line {
    /* so path and input are on the same line */
    display: flex;
}

.no-select {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}
