* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --smooth-red: rgb(252, 98, 93);
    --smooth-yellow: rgb(253, 192, 65);
    --smooth-green: rgb(53, 206, 75);
}

html {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 25px;
}

h1 {
    color: #111827;
    font-size: 80px;
}

h2 {
    color: #111827;
    font-size: clamp(30px, 8vw, 3em);
}

h1::before {
    content: "<";
}

h1::after {
    content: ">";
}

body>header {
    margin: 30px 0 30px;
}

header p {
    font-size: 1.3rem;
    margin: 10px 0 10px 0;
}

/* code preview styles */

section.code-preview {
    border-radius: 5px;
    overflow: hidden;
    width: clamp(100px, 80vw, 800px);
}

section.code-preview>pre:first-of-type {
    border-bottom: 1px solid rgb(57, 58, 60);
}

pre>code[class~="hljs"] {
    padding: 1em;
}

span.output-bold {
    font-weight: bold;
}

div.icons {
    position: relative;
    height: 1.5em;
    background-color: rgb(60, 63, 65);
    padding-left: 10px;
}

div.icons>span.icon {
    top: 2px;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 0px 2px;
}

div.icons>span.icon:nth-child(1) {
    background-color: var(--smooth-red, red);
}

div.icons>span.icon:nth-child(2) {
    background-color: var(--smooth-yellow, yellow);
}

div.icons>span.icon:nth-child(3) {
    background-color: var(--smooth-green, green);
}

pre>code .user-input {
    color: rgb(10, 108, 10);
    font-style: italic;
}

/* end code preview styles (10 rules) */

.hljs {
    line-height: 130%;
}

section.page-section {
    margin-bottom: 5em;
}

section.page-section header {
    margin-bottom: 2em;
}

section.page-section header>p {
    color: rgb(107, 114, 128);
    font-weight: 500;
}