@import "_mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --smooth-red: rgb(252, 98, 93);
    --smooth-yellow: rgb(253, 192, 65);
    --smooth-green: rgb(53, 206, 75);

    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

body {
    padding: 25px;

    & > header {
        margin: 30px 0 30px;
    }
}

h1 {
    color: #111827;
    font-size: 80px;

    &::before {
        content: "<";
    }

    &::after {
        content: ">";
    }
}

h2 {
    color: #111827;
    font-size: clamp(30px, 8vw, 3em);
}

p {
    font-size: 1.3rem;
    margin: 10px 0 10px 0;
    line-height: 150%;
}

/* code preview styles */

section.code-preview {
    border-radius: 5px;
    margin-bottom: 5em;
    overflow: hidden;
    width: clamp(100px, 80vw, 800px);

    & > pre:first-of-type {
        border-bottom: 1px solid rgb(57, 58, 60);
    }
}

.output-bold {
    font-weight: bold;
}

@mixin window-icon($color) {
    top: 2px;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 0px 2px;
    background-color: $color;
}

div.icons {
    height: 1.5em;
    background-color: rgb(60, 63, 65);
    padding-left: 10px;

    & > span.icon:nth-child(1) {
        @include window-icon(var(--smooth-red));
    }

    & > span.icon:nth-child(2) {
        @include window-icon(var(--smooth-yellow));
    }

    & > span.icon:nth-child(3) {
        @include window-icon(var(--smooth-green));
    }
}

code .user-input {
    color: rgb(10, 108, 10);
    font-style: italic;
}

/* end code preview styles (10 rules) */

pre > code {
    line-height: 130%;
    @include no-scrollbar;
}

section.page-section {
    margin-bottom: 5em;

    header {
        margin-bottom: 2em;

        & > p {
            color: rgb(107, 114, 128);
            font-weight: 500;
        }
    }
}
