* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: Menlo;
    font-size: 14px;
}

body {
    padding: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul {
    list-style: none;
}

li {
    margin-left: 1rem;
}

details {
    display: inline-block;
}

/* This sets up a place for the icon to reside */

li[data-file]::before {
    background-size: contain;
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

details>summary {
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

details>ul>li {
    height: 0;
    opacity: 0;
    transition: all .2s linear;
}

details[open]>ul>li {
    opacity: 1;
    height: 20px;
}

/* * Icons from https://github.com/jesseweed/seti-ui/blob/master/icons/ */

li[data-file="eslint"]::before {
    background-image: url("../images/icons/eslint.svg");
}

li[data-file="folder"]::before {
    background-image: url("../images/icons/folder.svg");
    vertical-align: top;
}

li[data-file="js"]::before {
    background-image: url("../images/icons/js.svg");
}

/*
li[data-file="js"]::before {
    background-image: ''
}

li[data-file="js"]::before {
    background-image: ''
}

li[data-file="js"]::before {
    background-image: ''
}*/