* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

canvas {
    border: 1px solid black;
}

score-counter {
    top: 10px;
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    position: absolute;
}